#Contacto {
    background-image: url(https://goprotemplate.com/work/01_product/assets/images/contact_bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-color: #252A2E;
    width: auto;
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    h2 {
        font-size: 3rem;
        color: #ffffff;
        padding-top: 80px;
    }

    p {
        font-size: 1.8rem;
        color: #F1ECEC;
        position: relative;
        margin-top: 15px;
    }
}

.contacto__formulario {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin-top: 20px;
}

.cajas {
    font-size: 1rem;
    width: 60%;
    background-color: #1E2326;
    color: #ffffff;
    padding: 10px;
    border: 1px;
    margin-top: 10px;
    text-align: center;
}

.texto {
    font-size: 1rem;
    width: 60%;
    height: 200px;
    background-color: #1E2326;
    color: #ffffff;
    padding: 10px;
    margin: auto;
    border: 1px;
    margin-top: 5px;
    text-align: start;
}

.boton {
    width: 150%;
    background-color: #1E2326;
    color: #ffffff;
    padding: 10px;
    margin: auto;
    border: 1px;
    margin-top: 10%;
    cursor: pointer;
    text-transform: uppercase;
    transition: .3 ease all;
    position: relative;
    overflow: hidden;

    span {
        text-decoration: none;
        color: #fff;
        position: relative;
        z-index: 2;
        transition: .3s ease all;
    }

    &::after {
        content: "";
        width: 100%;
        height: 50px;
        position: absolute;
        z-index: 1;
        top: 0;
        left: calc(-180% - 100px);
        border-left: 200px solid #00D1FF;
        transition: .4s ease-in-out all;
    }

    &:hover {
        &::after {
            left: 0;
        }
    }
}