#Habilidades {
    gap: 50px;
    grid-template-rows: auto auto;
    padding-bottom: 50px;
    height: 100% auto;
    width: 100%;

    h2 {
        font: $h2-font;
        font-size: $medida;
        padding-top: 60px;

    }

    .cuadro {
        background-color: #1E2326;
        border-radius: 20px;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) inset;
        width: 68%;
        height: auto;
        margin-top: 3%;
        margin-left: 16%;
        margin-right: 16%;
        margin-bottom: 50px;
    }
}

.contenedor__habilidades {
    a {
        text-decoration: none;
    }

    ul {
        @include flex-all(row, center, center, center);
        flex-wrap: wrap;
        gap: 30px;
    }

    li {
        @include flex-all(row, center, center, center);
        gap: 20px;
        width: 125px;
        height: 125px;
        transition: all 0.8s ease 0s;
        margin-top: 40px;
        border-radius: 20px;
        background: #252A2E;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) inset;

        span {
            color: #fff;
            font-size: 1rem;
            text-transform: uppercase;
            font-weight: 5;
            display: block;
        }
    }

    .bx {
        padding-top: 20px;
        color: #fff;
        font-size: 50px;
    }
}

#habilidades {
    p {
        font-size: 2rem;
        color: #fff;
    }
}

.photoshop {
    &:hover {
        background: #004555;
    }
}

.figma {
    &:hover {
        background: #262727;
    }
}

.vsc {
    &:hover {
        background: #33707e;
    }
}

.html {
    &:hover {
        background: #FE5723;
    }
}

.css {
    &:hover {
        background: #016AC0;
    }
}

.bst {
    &:hover {
        background: #5A4283;
    }
}

.git {
    &:hover {
        background: #F15132;
    }
}

.github {
    &:hover {
        background: #000000;
    }
}

.sass {
    &:hover {
        background: #D85497;
    }
}

.nodejs {
    &:hover {
        background: #6b9216;
    }
}