@mixin flex-all($flex-direction, $justify-content, $align-items, $text-align) {
    display: flex;
    flex-direction: $flex-direction;
    justify-content: $justify-content;
    align-items: $align-items;
    text-align: $text-align;
}