.navbar {
    ul li {
        @include flex-all(column, center, center, center);
        padding-left: 40px;
    }

    a {
        margin: 0 20px;
        color: #fff;
        font-size: 1.5rem;

        &:hover {
            color: #00D1FF;
        }
    }
}


nav {
    &::before {
        content: "";
        height: 4px;
        width: 100%;
        background: #00D1FF;
        position: absolute;
        left: 0px;
        bottom: 0px;
    }
}