.contenedor__proyectos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding-bottom: 70px;
}

#Proyectos {
    h2 {
        font-size: 3rem;
        color: #fff;
        text-align: center;
        padding: 50px;
        padding-top: 80px;
    }

    img {
        width: 20em;
        gap: 10px;
        border-radius: 10px;
    }
}