.contenedor__proyectos {
    @include flex-all(row, center, center, center);
    flex-wrap: wrap;
    gap: 20px;
    padding-bottom: 70px;
}

#Proyectos {
    h2 {
        font: $h2-font;
        font-size: $medida;
        padding-top: 60px;
        padding: 60px;
        text-align: center;
    }

    img {
        width: 350px;
        height: 312.641px;
        gap: 20px;
        border-radius: 10px;
    }
}

@media (max-width: 576px) {
    #Proyectos img {
        width: 100%;
        height: 100%;
        gap: 20px;
        margin-left: 10px;
    }
}