.contenedor__proyectos {
    @include flex-all(row, center, center, center);
    flex-wrap: wrap;
    position: relative;
    gap: 20px;
    padding-bottom: 70px;
}

#Proyectos {
    h2 {
        font: $h2-font;
        font-size: $medida;
        padding-top: 60px;
        padding: 60px;
        text-align: center;
    }

    img {
        width: 300px;
        height: 300px;
        margin-bottom: 20px;
        border-radius: 10px;
        box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.50);
        transition: all 500ms ease-out;
        object-fit: cover;
    }

    .box {
        width: auto;
        height: 50vh;
        text-align: center;
        overflow: hidden;
        position: relative;


    }

    .box .hover {
        width: 0%;
        height: 50vh;
        background-color: #00d0fff3;
        position: absolute;
        top: 0;
        display: wrap;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        transition: .5s all;
    }

    .box .hover .buton-box {
        width: 50%;
        height: 40px;
        margin-top: 30px;
        background: #fff;
        font-size: 20px;
        border: none;
        cursor: pointer;
        transition: .5s ease all;
        border-radius: 5px;
    }

    .box .hover .buton-box:hover {
        background: #ff0077f3;
        color: #fff;
    }

    h4 {
        color: #fff;
        font-size: 2rem;
        margin-top: 80px;
        text-align: center;
    }

    .box:hover .hover {
        width: 300px;
        border-radius: 10px;
    }

    p {
        text-decoration: none;
    }
}

@media (max-width: 576px) {
    #Proyectos img {
        width: 100%;
        height: 100%;
        gap: 20px;
        margin-left: 10px;
    }
}