.contenedor__proyectos {
    @include flex-all(row, center, center, center);
    flex-wrap: wrap;
    position: relative;
    gap: 20px;
    padding-bottom: 70px;
    padding-left: 50px;
    padding-right: 50px;
}

#Proyectos h2 {
    font: $h2-font;
    font-size: $medida;
    padding-top: 60px;
    padding: 60px;
    text-align: center;
}

img {
    width: 300px;
    height: 300px;
    margin-bottom: 20px;
    border-radius: 20px;
    transition: all 500ms ease-out;
    object-fit: cover;
}

.box {
    width: auto;
    height: 100%;
    text-align: center;
    overflow: hidden;
    position: relative;

    .hover {
        left: 0%;
        width: 0px;
        height: 300px;
        border-radius: 30px;
        background-color: #00d0fff3;
        position: absolute;
        top: 0;
        display: wrap;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        transition: .5s all;

        .buton-box {
            width: 50%;
            height: 40px;
            margin-top: 30px;
            background: #fff;
            font-size: 20px;
            border: none;
            cursor: pointer;
            transition: .5s ease all;
            border-radius: 5px;

            &:hover {
                background: #ff0077f3;
                color: #fff;
            }
        }
    }

    .hover-1 {
        width: 0%;
        height: 47%;
        background-color: #00d0fff3;
        position: absolute;
        top: 0;
        display: wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
        overflow: hidden;
        transition: .5s all;

        h4 {
            display: flex;
            justify-content: center;
            margin-top: 30px;
            margin-bottom: 0px;
        }

        .buton-box {
            width: 50%;
            height: 40px;
            margin-top: 30px;
            background: #fff;
            font-size: 20px;
            border: none;
            cursor: pointer;
            transition: .5s ease all;
            border-radius: 5px;

            &:hover {
                background: #ff0077f3;
                color: #fff;
            }
        }
    }

    .hover-2 {
        h4 {
            font-size: 1.8rem;
            display: flex;
            justify-content: center;
            margin-top: 30px;
            margin-bottom: 0px;
        }

        width: 1000px;
        height: 150px;
        background-color: #004353f3;
        flex-wrap: wrap;
        position: absolute;
        left: 100%;
        top:47%;
        transition: .5s all;

        .buton-box {
            width: 50%;
            height: 40px;
            background: #fff;
            font-size: 20px;
            border: none;
            cursor: pointer;
            transition: .5s ease all;
            border-radius: 5px;

            span {
                text-decoration: none;
            }

            &:hover {
                background: #ff0077f3;
                color: #fff;
            }
        }
    }

    &:hover {
        .hover {
            width: 100%;
            height: 300px;
            right: 100%;
            border-radius: 20px;
        }

        .hover-1 {
            width: 300px;
            border-radius: 20px 20px 0px 0px;
        }

        .hover-2 {
            width: 300px;
            left: 0%;
            border-radius: 0px 0px 20px 20px;
        }
    }
}

h4 {
    color: #fff;
    font-size: 2rem;
    margin-top: 80px;
    text-align: center;
}

.hover-2 {
    span {
        text-decoration: none;
    }
}

@media (max-width: 576px) {
    .contenedor_proyectos {
        img {
            width: 80%;
            height: 80%;
            gap: 20px;
            margin-bottom: 20px;
            border-radius: 30px;
            box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.50);
            transition: all 500ms ease-out;
            object-fit: cover;
        }
    }
}