#Sobre_mi {
    h2 {
        font: $h2-font;
        font-size: $medida;
        padding-top: 60px;
    }

    p {
        b {
            color: #00D1FF;
        }

        padding: 50px;
        font-size: 1.2rem;
        color: #fff;
    }

    h3 {
        font-size: 2.5rem;
        color: #ffff;
        text-align: center;
    }
}

.col-md-6 {
    padding: 20px;

    img {
        width: 80%;
        height: 72%;
        margin-left: 7%;
        margin-top: 50px;
        border-radius: 20px;
    }

    ul {
        @include flex-all(row, center, center, center);
        flex-wrap: wrap;
        gap: 15px;
        padding-right: 20px;
    }

    li {
        @include flex-all(row, center, center, center);
        width: 120px;
        height: 120px;
        transition: all 0.8s ease 0s;
        margin-top: 40px;
        border-radius: 20px;
        background: #252A2E;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) inset;

        &:hover {
            background: #00D1FF;
        }

        span {
            font-size: 1rem;
            text-transform: uppercase;
            font-weight: 5;
            margin-top: 3px;
            display: block;
        }
    }

    .bx {
        padding-top: 20px;
        font-size: 50px;
    }
}

.sobremi__buttom {
    @include flex-all(row, center, center, center);
}

.boton__cv {
    font-size: 20px;
    background-color: #252A2E;
    color: #ffffff;
    width: 200px;
    height: 50px;
    border-color: #cac5c5;
    margin-top: 50px;
    margin-bottom: 70px;
    cursor: pointer;
    text-transform: uppercase;
    transition: .3 ease all;
    position: relative;
    overflow: hidden;
    border-radius: 10px;

    a {
        text-decoration: none;
        color: #fff;
        position: relative;
        z-index: 2;
        transition: .3s ease all;
    }

    &::after {
        content: "";
        width: 110%;
        height: 50px;
        position: absolute;
        z-index: 1;
        top: 0;
        left: calc(-100% - 100px);
        border-left: 250px solid #00D1FF;
        transition: .4s ease-in-out all;
    }

    &:hover {
        &::after {
            left: 0;
        }
    }
}