@import "_variables";
@import "mixins";
@import "_sobremi";
@import "_nav";
@import "_habilidades";
@import "_proyectos";
@import "_contacto";


body {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    height: 100vh;
    overflow-x: hidden;
    font-family: "Raleway";
}

#inicio {
    @include flex-all(column, center, center, center);
    background-image: url(https://static.vecteezy.com/system/resources/previews/001/241/853/large_2x/grayscale-of-yosemite-mountain-range-free-photo.jpeg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    min-height: 700px;
    position: relative;
    z-index: 3;
    padding: 65px 0px;
    color: #fff;

    img {
        height: 300px;
        width: 300px;
        left: 3%;
        margin: 0 auto;
        position: absolute;
        right: 0;
        top: 30%;
        z-index: 0;
        transform: translateY(-50%);
    }

    h1 {
        position: absolute;
        text-align: center;
        font-family: Righteous;
        font-size: 2.5rem;
        color: #ffffff;
        padding-top: 100px;
    }

    h3 {
        position: absolute;
        text-align: center;
        font-size: 1.5rem;
        letter-spacing: 7px;
        color: #ffffff;
        padding-top: 220px;
    }
}

.inicio__cuadro {
    background-color: #1E2326;
    border-radius: 50px;
    width: 110%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.inicio__iconos {
    position: relative;
    top: 180px;
    width: 80px;
    height: 80px;
    margin: 5px;
    background-color: #252a2e;
    border-radius: 50%;
    transition: all .8s;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) inset;

    &:hover {
        background-color: #00D1FF;
    }

    i {
        color: #ffff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 2rem;
    }
}

.footer__up {
    @include flex-all(row, center, center, center);
    background: linear-gradient(to top, #1E2326 0%, #1E2326 50%, #252A2E 50%, #252A2E 100%);
}

.up {
    @include flex-all(row, center, center, center);
    width: 60px;
    height: 60px;

    .bx {
        color: white;
        font-size: 45px;
    }
}

.footer {
    display: block;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: #1E2326;
}

.footer__iconos {
    @include flex-all(row, center, center, center);
    padding-bottom: 20px;
}

.footers__iconos {
    @include flex-all(row, center, center, center);
    position: relative;
    width: 80px;
    height: 80px;
    margin: 10px;
    top: 50px;
    background-color: #252a2e;
    border-radius: 50%;
    transition: all .8s;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) inset;

    .bx {
        color: white;
        font-size: 30px;
    }

    &:hover {
        background: #00D1FF;
    }
}

footer {
    p {
        font-size: 3rem;
        color: #ffffff;
        text-align: center;
    }
}

.copy {
    p {
        padding-top: 50px;
        font-size: 1rem;
        color: #ffffff;
        text-align: center;
    }
}

@media (max-width: 576px) {
    .inicio__cuadro {
        background-color: #1E2326;
        border-radius: 50px;
        width: 100%;
        height: 500px;
        @include flex-all(row, center, center, center);
    }

    #inicio {
        h1 {
            position: absolute;
            text-align: center;
            font-family: Righteous;
            font-size: 1.8rem;
            color: #ffffff;
            padding-top: 80px;
        }

        h3 {
            position: absolute;
            text-align: center;
            font-size: 1.2rem;
            letter-spacing: 7px;
            color: #ffffff;
            padding-top: 200px;
        }

        img {
            height: 200px;
            width: 200px;
            left: 1%;
            margin: 0 auto;
            position: absolute;
            right: 0;
            top: 35%;
            z-index: 0;
            transform: translateY(-50%);
        }
    }

    .inicio__iconos {
        position: relative;
        top: 180px;
        width: 60px;
        height: 60px;
        margin: 5px;
        background-color: #252a2e;
        border-radius: 50%;
        transition: all .8s;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) inset;

        &:hover {
            background-color: #00D1FF;
            box-shadow: 0 0 20px;
        }

        i {
            color: #ffff;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 1.5rem;
        }
    }
}