@import"variables";
@import "_nav";
@import "_sobremi";
@import"_habilidades";
@import "_proyectos";
@import "_contacto";


body {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    height: 100vh;
    overflow-x: hidden;
    font-family: "Raleway";
}

#inicio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(https://static.vecteezy.com/system/resources/previews/001/241/853/large_2x/grayscale-of-yosemite-mountain-range-free-photo.jpeg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    min-height: 700px;
    position: relative;
    z-index: 3;
    padding: 65px 0px;
    color: #fff;

    img {
        height: 300px;
        width: 300px;
        left: 1%;
        margin: 0 auto;
        position: absolute;
        right: 0;
        top: 30%;
        z-index: 0;
        transform: translateY(-50%);
    }

    h1 {
        position: absolute;
        text-align: center;
        font-family: Righteous;
        font-size: 2.5rem;
        color: #ffffff;
        padding-top: 100px;
    }

    h3 {
        position: absolute;
        text-align: center;
        font-size: 1.5rem;
        letter-spacing: 7px;
        color: #ffffff;
        padding-top: 180px;
    }
}

.inicio__cuadro {
    background-color: #1E2326;
    border-radius: 50px;
    width: 450px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.inicio__iconos {
    position: relative;
    top: 180px;
    width: 80px;
    height: 80px;
    margin: 5px;
    background-color: #252a2e;
    border-radius: 50%;
    transition: all .8s;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) inset;

    &:hover {
        background-color: #00D1FF;
    }

    i {
        color: #ffff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 2rem;
    }
}

header {
    position: sticky;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    background: #252A2E;
}

.navegador {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar {
    a {
        margin: 0 20px;
        color: #fff;
        font-size: 1.5rem;

        &:hover {
            color: #00D1FF;
        }
    }
}

nav {
    &::before {
        content: "";
        height: 4px;
        width: 100%;
        background: #00D1FF;
        position: absolute;
        left: 0px;
        bottom: 0px;
    }
}

#Sobre_mi {
    h2 {
        font: $h2-font;
    }

    p {
        b {
            color: #00D1FF;
        }

        padding: 50px;
        font-size: 1.2rem;
        color: #fff;
    }

    h3 {
        font-size: 2.5rem;
        color: #ffff;
        text-align: center;
    }
}

.col-md-6 {
    padding: 20px;

    img {
        width: 80%;
        height: 72%;
        margin-left: 10%;
        margin-top: 50px;
        border-radius: 20px;
    }

    ul {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 15px;
    }

    li {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 120px;
        height: 120px;
        transition: all 0.8s ease 0s;
        margin-top: 40px;
        border-radius: 20px;
        background: #252A2E;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) inset;

        &:hover {
            background: #00D1FF;
        }

        span {
            font-size: 1rem;
            text-transform: uppercase;
            font-weight: 5;
            margin-top: 8px;
            display: block;
        }
    }

    .bx {
        font-size: 50px;
    }
}

.sobremi__buttom {
    display: flex;
    align-items: center;
    justify-content: center;
}

.boton__cv {
    font-size: 20px;
    background-color: #252A2E;
    color: #ffffff;
    width: 200px;
    height: 50px;
    border-color: #cac5c5;
    margin-top: 50px;
    margin-bottom: 70px;
    cursor: pointer;
    text-transform: uppercase;
    transition: .3 ease all;
    position: relative;
    overflow: hidden;

    a {
        text-decoration: none;
        color: #fff;
        position: relative;
        z-index: 2;
        transition: .3s ease all;
    }

    &::after {
        content: "";
        width: 100%;
        height: 50px;
        position: absolute;
        z-index: 1;
        top: 0;
        left: calc(-100% - 100px);
        border-left: 200px solid #00D1FF;
        transition: .4s ease-in-out all;
    }

    &:hover {
        &::after {
            left: 0;
        }
    }
}

#Habilidades {
    gap: 50px;
    grid-template-rows: auto auto;
    padding-bottom: 50px;
    height: 100% auto;
    width: 100%;

    h2 {
        font: $h2-font;
    }

    .cuadro {
        background-color: #1E2326;
        border-radius: 20px;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) inset;
        width: 68%;
        height: auto;
        margin-top: 3%;
        margin-left: 16%;
        margin-right: 16%;
        margin-bottom: 50px;
    }
}

.contenedor__habilidades {
    a {
        text-decoration: none;
    }

    ul {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 30px;
    }

    li {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 20px;
        width: 125px;
        height: 125px;
        transition: all 0.8s ease 0s;
        margin-top: 40px;
        border-radius: 20px;
        background: #252A2E;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) inset;

        span {
            color: #fff;
            font-size: 1rem;
            text-transform: uppercase;
            font-weight: 5;
            display: block;
        }
    }

    .bx {
        color: #fff;
        font-size: 50px;
    }
}

#habilidades {
    p {
        font-size: 2rem;
        color: #fff;
    }
}

.photoshop {
    &:hover {
        background: #004555;
    }
}

.figma {
    &:hover {
        background: #262727;
    }
}

.vsc {
    &:hover {
        background: #33707e;
    }
}

.html {
    &:hover {
        background: #FE5723;
    }
}

.css {
    &:hover {
        background: #016AC0;
    }
}

.bst {
    &:hover {
        background: #5A4283;
    }
}

.git {
    &:hover {
        background: #F15132;
    }
}

.github {
    &:hover {
        background: #000000;
    }
}

.sass {
    &:hover {
        background: #D85497;
    }
}

.nodejs {
    &:hover {
        background: #6b9216;
    }
}


.contenedor__proyectos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding-bottom: 70px;
}

#Proyectos {
    h2 {
        font: $h2-font;
        padding: 50px;
    }

    img {
        width: 20em;
        gap: 10px;
        border-radius: 10px;
    }
}

#Contacto {
    background-image: url(https://goprotemplate.com/work/01_product/assets/images/contact_bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-color: #252A2E;
    width: auto;
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    h2 {
        font: $h2-font;
    }

    p {
        font-size: 1.8rem;
        color: #F1ECEC;
        position: relative;
        margin-top: 15px;
    }
}

.contacto__formulario {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin-top: 20px;
}

.cajas {
    font-size: 1rem;
    width: 60%;
    background-color: #1E2326;
    color: #ffffff;
    padding: 10px;
    border: 1px;
    margin-top: 10px;
    text-align: center;
}

.texto {
    font-size: 1rem;
    width: 60%;
    height: 200px;
    background-color: #1E2326;
    color: #ffffff;
    padding: 10px;
    margin: auto;
    border: 1px;
    margin-top: 5px;
    text-align: start;
}

.boton {
    width: 150%;
    background-color: #1E2326;
    color: #ffffff;
    padding: 10px;
    margin: auto;
    border: 1px;
    margin-top: 10%;
    cursor: pointer;
    text-transform: uppercase;
    transition: .3 ease all;
    position: relative;
    overflow: hidden;

    span {
        text-decoration: none;
        color: #fff;
        position: relative;
        z-index: 2;
        transition: .3s ease all;
    }

    &::after {
        content: "";
        width: 100%;
        height: 50px;
        position: absolute;
        z-index: 1;
        top: 0;
        left: calc(-180% - 100px);
        border-left: 200px solid #00D1FF;
        transition: .4s ease-in-out all;
    }

    &:hover {
        &::after {
            left: 0;
        }
    }
}

.footer__up {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to top, #1E2326 0%, #1E2326 50%, #252A2E 50%, #252A2E 100%);
}

.up {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 60px;
    height: 60px;

    .bx {
        color: white;
        font-size: 45px;
    }
}

.footer {
    display: block;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: #1E2326;
}

.footer__iconos {
    display: flex;
    padding-bottom: 20px;
    justify-content: center;
    align-items: center;
}

.footers__iconos {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 80px;
    height: 80px;
    margin: 10px;
    top: 50px;
    background-color: #252a2e;
    border-radius: 50%;
    transition: all .8s;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) inset;

    .bx {
        color: white;
        font-size: 30px;
    }

    &:hover {
        background: #00D1FF;
    }
}

footer {
    p {
        font-size: 3rem;
        color: #ffffff;
        text-align: center;
    }
}

.copy {
    p {
        padding-top: 50px;
        font-size: 1rem;
        color: #ffffff;
        text-align: center;
    }
}

@media (max-width: 576px) {
    .inicio__cuadro {
        background-color: #1E2326;
        border-radius: 50px;
        width: 350px;
        height: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    #inicio {
        h1 {
            position: absolute;
            text-align: center;
            font-family: Righteous;
            font-size: 1.8rem;
            color: #ffffff;
            padding-top: 80px;
        }

        h3 {
            position: absolute;
            text-align: center;
            font-size: 1.2rem;
            letter-spacing: 7px;
            color: #ffffff;
            padding-top: 150px;
        }

        img {
            height: 250px;
            width: 250px;
            left: 1%;
            margin: 0 auto;
            position: absolute;
            right: 0;
            top: 30%;
            z-index: 0;
            transform: translateY(-50%);
        }
    }

    .inicio__iconos {
        position: relative;
        top: 180px;
        width: 60px;
        height: 60px;
        margin: 5px;
        background-color: #252a2e;
        border-radius: 50%;
        transition: all .8s;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) inset;

        &:hover {
            background-color: #00D1FF;
            box-shadow: 0 0 20px;
        }

        i {
            color: #ffff;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 1.5rem;
        }
    }
}